doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
    #map
    #app
        
link(rel='stylesheet', type='text/css', href='//yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic')
link(rel='stylesheet', type='text/css', href='/vendor/vendor.css')
link(rel='stylesheet', type='text/css', href='/css/style.css')
script(src='/socket.io/socket.io.js')
script(src='/vendor/vendor.js')
script(async, src='/js/script.js')
